@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rasa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&family=Nanum+Pen+Script&family=Patrick+Hand&family=Shadows+Into+Light&display=swap');
body {
    background-color: #9A50F9 ;
    transition: background-color 0.5s;
}

/*
.col {
    border: 1px solid white;
}
*/
.page{
    min-height: 800px;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Different font options: (uncomment one) */
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Patrick Hand', cursive;
    color: #E5E5E5;
    /*
    border: 1px solid black;
    */
}

.frame-big, .panel {
    color: black;
    font-size: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame1{
    display: flex;

}
#alexF1{
    flex: 2;
    display: flex;
    align-content: center;
    justify-content: center;
}
#textF1{
    flex: 1;
}

.frame-big p{
    font-size: 20px;
}

.frame-big {
    height: 75vh;
    width: 75vw;
}

.frame-big p, .panel p {
    margin: 50px;
    text-align: center;
}

/* frame 2 */
#frame2{
    display: flex;
    flex-direction: column;
}

#taylorF2{
    background-color: aquamarine;
    height: 300px;
} 

.frame-3, .frame-2 {
    display: grid;
    height: 75vh;
    width: 75vw;
    grid-gap: 25px;
    align-items: center;
}

.frame-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.frame-2 {
    grid-template-columns: 1fr 1fr;
}

.panel {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* frame 4 */
#frame4{
    display: flex;
    flex-direction: column;
}


#bottom_block{
    display: flex;
    flex-direction: row;
}

/* frame 5 */


.sub_frame{
    height: 300px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* frame 6 */
#frame6{
    display: flex;
    flex-direction: column;
}
#heart{
    width: 20px;
}
/* page 1 */
#page1{
    padding: 180px;
    margin-left: 20px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    position: relative;
}
#page1 hr {
    /*
    border-top: 3px solid rgb(255, 255, 255) !important;
    */
    width: 600px;
    position: absolute;
    top: 530px;
    left: 185px;
}

 #page1 h1{
    font-size: 80px;
}

#disclaimer{
    width: 100%;
    border-style: solid;
    border-width: 3px;
    text-align: center;
}

#frame7{
    display: flex;
    flex-direction: column;
}

#frame7 p{
    flex: 1;
}

#frame7-1{
    flex: 4;
    display: flex;
}

#frame7-1 div{
    margin: 20px;
}

#frame8{
    display: flex;
    flex-direction: column;
}

#thought{
    background-color: grey;
    opacity: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 0px;
    left: 0px;
}

#frame9{
    display: flex;
    flex-direction: column;
}

#frame9 p{
    flex: 1;
}

#frame9-1{
    flex: 4;
    display: flex;
}

#frame9-1 div{
    margin: 20px;
}

#closingFrame{
    display: flex;
    flex-direction: column;
}